<div class="game-container">
  <div class="game-item game-board">
    <app-board
      [diskMapSignal]="diskMapSignal"
      (squareClicked)="onSquareClick($event)"
    />
  </div>
  <div class="game-item">
    <app-player-status
      [playerStatusSignal]="playerStatusSignal"
      [player]="'player2'"
      />
  </div>
  <div class="game-item">game-status</div>
  <div class="game-item">
    <app-player-status
      [playerStatusSignal]="playerStatusSignal"
      [player]="'player1'"
    />
  </div>
  <div class="game-item"><app-debug/></div>
</div>
