.game-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 200px 80px 200px auto;
  width: 680px;
}

.game-item {
  background: #ddd;
  padding: 10px;
  border-radius: 8px;
  border: 3px solid #ccc;
}

.game-board {
  grid-row: 1 / 4;
}
