.game-container {
  display: grid;
  grid-template-columns: 460px 1fr;
  width: 680px;
}

.game-state {
  grid-column: 1 / 3;
}

.game-board {
  grid-column: 1 / 2;
  grid-row: 2 / 5;
}

.spacer {
  height: 20px;
}
